<div class="Page">

  <h1 class="Page__title">Carbonator Explained</h1>

  <mat-tab-group>

    <mat-tab label="What is Carbonator?">
      <ng-template matTabContent>
        <h2>What is Carbonator?</h2>
        <p>Carbonator is a simple climate model. Unlike a full climate model that can tell us how climate variables evolve at different locations it can only tell us how a subset of variables change on a global scale (e.g. globally averaged temperature). Carbonator uses only 20-30 lines of computer code and takes a few seconds to simulate a few decades of climate system evolution on your computer.</p>
        <p>Carbonator is based on the same laws of physics that underpin state-of-the-art climate models (in particular the conservation of energy) and for a limited number of variables will produce very similar results to those models. As such, it is a powerful tool that can be used to explore how the climate system is affected by different factors (like CO<sub>2</sub> emissions, volcanoes of changes in the power output of the sun) how our decisions are likely to affect the climate system in the future.</p>
        <p>Based on a set of six inputs (that you will define):</p>
        <ol>
          <li>CO<sub>2</sub> emissions (no. of billions of tons of CO<sub>2</sub> released into the atmosphere each year)</li>
          <li>CH<sub>4</sub> emission</li>
          <li>Human aerosol emissions</li>
          <li>Volcanic aerosol emissions</li>
          <li>Energy reaching the earth from the sun (solar radiation)</li>
          <li>Reflectivity of the earth surface</li>
        </ol>
        <p>Carbonator will calculate how various climate variables will change over time, including:</p>
        <ul>
          <li>Surface temperature</li>
          <li>Deep ocean temperature</li>
          <li>Sea-level</li>
          <li>Ocean pH</li>
          <li>Atmospheric concentrations of CO<sub>2</sub> and CH<sub>4</sub></li>
        </ul>
        <p>The following schematic shows all the components of Carbonator:</p>
        <p><img src="/assets/img/content/05.png" style="max-width: 100%;"></p>
        <p>Carbonator is made up of a number of sub-models, that feed information to the main <em>Energy Balance Model</em>.</p>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header color="primary">
              I'm ready to learn more
            </mat-expansion-panel-header>
            <h2>Energy Balance Model</h2>
            <p>At the heart of Carbonator (and all climate models) is an energy balance model. This simply means that if we know the energy entering or leaving the climate system, then we can calculate how the energy content (otherwise known as temperature) will change. By making estimates of how energy coming in or out changes in the future then we can predict what will happen to temperature (and other climate variables) in the future.</p>
            <p>If there were an increase in the energy entering the climate system (for example if the sun were to get a little stronger), this would very quickly heat up the atmosphere, land surface and upper ocean. It would take much longer for that extra heat to gradually mix down into the deep ocean.</p>
            <p>So let&rsquo;s build a (box) model of the climate system:</p>
            <ol>
              <li>Let&rsquo;s replace the atmosphere, land surface, and upper ocean by a box (box 1). To make this box behave realistically it needs to have the same heat capacity as the combined atmosphere, land surface, and upper ocean (top 500m), the box. [heat capacity is the amount of energy it takes to increase an objects temperature by 1oC]. The heat capacity of this box is relatively small so that changes in energy into or out of the box causes rapid changes in temperature</li>
              <li>Next we replace the deep ocean (top 4000m) with a second box (box). The deep ocean has a much larger heat capacity than the combined atmosphere, land surface, and upper ocean, so our second box will to have a much larger heat capacity than the first box. As such it will respond more slowly to changes in energy into or out of the box.</li>
            </ol>
            <p>Next we need to define some properties of these boxes:</p>
            <ol>
              <li>Energy from the sun can only directly warm the first box (i.e solar energy is absorbed in the top few meters of the ocean). But if the temperature of the boxes are different then heat will gradually mix from the warmer to the cooler box (making the warner box cooler and the cooler box warmer!). We are going to assume that the energy transferred between the boxes is proportional to the difference in temperature between the boxes.</li>
              <li>When objects warm they also release energy (for example because we are warm we release heat energy to the atmosphere). This means that as the first box warms it will also release energy upwards (to space) as well as downwards (into the deep ocean). We are going to assume that the energy lost to space is proportional to the temperature of the upper box</li>
            </ol>
            <p>So here is our (two box) model of the climate system:</p>
            <p><img src="/assets/img/content/06.png" style="max-width: 100%;"></p>
            <p>Now we need some equations to describe the temperature changes in the two boxes (one equation for each box)</p>
            <h3>Box 1:</h3>
            <p>Change in energy in box 1 each second = Energy coming in each second&ndash; Energy going out each second (from the top and bottom of box 1)</p>
            <p>The energy in in the box (E) [measured in Joules] is the heat capacity of the box (C) multiplied by the temperature of the box (T). Mathematically the change in energy (E) with time (t) is written as:</p>
            <p><img src="/assets/img/content/07.png" style="max-width: 100%;"></p>
            <p>But because E = C x T (and C is a constant i.e. the heat capacity doesn&rsquo;t change)</p>
            <p><img src="/assets/img/content/08.png" style="max-width: 100%;"></p>
            <p>In other words, this says that the change of energy in box 1 (per second) equals the heat capacity of box 1 multiplied by the change in temperature in box 1 (each second).</p>
            <p>Putting this all together:</p>
            <p><img src="/assets/img/content/09.png" style="max-width: 100%;"></p>
            <p>From (3) above, we know that the E<sub>out</sub> [measured in Joules per second] is proportional to the temperature of box 1</p>
            <p><img src="/assets/img/content/10.png" style="max-width: 100%;"></p>
            <p>(where <em>a</em> is a constant)</p>
            <p>From (4) above, we know that the E<sub>out-max</sub> [also measured in Joules per second] is proportional to the temperature difference between box 1 and box 2</p>
            <p><img src="/assets/img/content/11.png" style="max-width: 100%;"></p>
            <p>(where <em>b</em> is a constant)</p>
            <p>So finally we have:</p>
            <p><img src="/assets/img/content/12.png" style="max-width: 100%;"></p>
            <h3>Box 2:</h3>
            <p>Change in energy in box 2 each second = Energy coming in each second (from the bottom of box 1)</p>
            <p>The Energy coming in to box 2, is obviously the same as the energy coming out of the bottom of box 1 (i.e. <em>b(T - T<sub>o</sub>)</em>)</p>
            <p>So, following similar arguments to box 1 we end up with:</p>
            <p><img src="/assets/img/content/13.png" style="max-width: 100%;"></p>
            <p>So we have ended up with two equations:</p>
            <p><img src="/assets/img/content/14.png" style="max-width: 100%;"></p>
            <p>They tell us that if we know the energy entering the climate system (E<sub>in</sub>), which may change over time, we can calculate how the temperature of the surface climate (i.e, all the components in box 1) and the deep ocean (box 2) change with time.</p>
            <p>NB we also need to figure out the values for the various constants (C, C<sub>o</sub>, a, b). These can be calculated or figured out by looking at observations of the real world.</p>
            <h3>How do we get E<sub>in</sub>?</h3>
            <p>The energy entering the climate system depends on multiple factors. Some of the main ones are:</p>
            <ul>
              <li>E<sub>sun</sub>: How much energy comes in from the sun that doesn&rsquo;t get reflected back out to space by clouds or bright surfaces on the planet surface (in particular ice)?</li>
              <li>E<sub>volcano</sub>: How much of the sun&rsquo;s energy gets reflected away back to space by volcanic aerosols in the atmosphere?</li>
              <li>E<sub>aerosol</sub>: How much of the sun&rsquo;s energy gets reflected away back to space by human-made aerosols in the atmosphere?</li>
              <li>E<sub>co2</sub>: How much extra heat is trapped at the surface by CO2 (greenhouse effect)?</li>
              <li>E<sub>ch4</sub>: How much extra heat is trapped at the surface by methane (greenhouse effect)?</li>
            </ul>
            <p>To get E<sub>in</sub> we need to sum these different components:</p>
            <p>E<sub>in</sub> = E<sub>sun</sub> + E<sub>volcano</sub> + E<sub>aerosol</sub> + E<sub>co2</sub> + E<sub>ch4</sub></p>
            <p>These components are hard to measure or estimate. So instead we are going to use inputs that can be measured and use a bunch of sub-models to calculate these energy terms. The inputs that Carbonator uses are:</p>
            <ul>
              <li>The energy from the sun entering the top of the atmosphere (before any energy is reflected away)</li>
              <li>The reflectivity of the planet (also called the albedo)</li>
              <li>The quantity of volcanic aerosols emitted into the atmosphere</li>
              <li>The quantity of human-made aerosols emitted into the atmosphere</li>
              <li>The amount of CO2 emitted into the atmosphere</li>
              <li>The amount of methane emitted into the atmosphere</li>
            </ul>
            <p>If we provide these six inputs, the carbonator model will tell us how temperature and other climate properties change over time.</p>
            <h3>References</h3>
            <ul>
              <li>Geoffroy, O., D. Saint-Martin, D. J. L. Olivi&eacute;, A. Voldoire, G. Bellon, and S. Tyt&eacute;ca. &ldquo;Transient Climate Response in a Two-Layer Energy-Balance Model. Part I: Analytical Solution and Parameter Calibration Using CMIP5 AOGCM Experiments.&rdquo; Journal of Climate 26, no. 6 (September 17, 2012): 1841&ndash;57. <a href="https://doi.org/10.1175/JCLI-D-12-00195.1">https://doi.org/10.1175/JCLI-D-12-00195.1</a>.</li>
              <li>Gregory, J. M., J. A. Church, G. J. Boer, K. W. Dixon, G. M. Flato, D. R. Jackett, J. A. Lowe, et al. &ldquo;Comparison of Results from Several AOGCMs for Global and Regional Sea-Level Change 1900&ndash;2100.&rdquo; Climate Dynamics 18, no. 3&ndash;4 (December 1, 2001): 225&ndash;40. <a href="https://doi.org/10.1007/s003820100180">https://doi.org/10.1007/s003820100180</a>.</li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-template>
    </mat-tab>

    <mat-tab label="What is a model?">
      <ng-template matTabContent>
        <h2>What is a model?</h2>
        <p>A model is a way of understanding complex systems or phenomena. For example, models can be used to help us understand the movement of planets around the sun, or how a disease spreads or how the brain works or how the earth&rsquo;s climate will change in the future.</p>
        <p>To construct a model you need to identify the essential components of the system or phenomenon you are trying to model and the how the components behave and interact. In science you would then often use mathematical equations or computer code to describe these components and interactions.</p>
        <p>A few examples might make this clearer:</p>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header color="primary">
              I'm ready to learn more
            </mat-expansion-panel-header>
            <p>Imagine a person on a swing. We would like to understand how fast the swing goes, or how often you go back and forth. This could depend on many factors: the size of the person, the design of the swing, the strength of the wind, the friction in the bearings. But the essential components of this system can be modelled as a ball on a weightless string suspended from a pivot with no friction. The ball is pulled downwards by gravity and upwards by the tension in the string. By mathematically describing this highly simplified version of the person on a swing we can get a good idea of how the swing will move (it won&rsquo;t be perfect, because in the real world the swing is affected by other factors &ndash; like friction, but we can still learn a lot from the simple model)</p>
            <p><img src="/assets/img/content/01.png" style="max-width: 100%;"></p>
            <p>Imagine the earth orbiting the sun. We can model this as two balls (one with the mass of the sun, the other with the mass of earth) rotating around each other and kept together by gravitational attraction. Based on experiments we know that the strength of the gravitational attraction is proportional to the masses multiplied together, and inversely proportional to the square of the distance between them. By describing this model mathematically we can figure out approximately how fast the planet orbits and how far the sun and planet must be from each other. However this model is just an approximation of the real world: interactions with other planets will also be important, space-time is distorted by the massive sun and planet which slightly changes how gravity works (general relativity) and even in space there is some friction.</p>
            <p><img src="/assets/img/content/02.png" style="max-width: 100%;"></p>
            <p>Finally imagine a burner heating up a beaker of water. We can model this as a box with the same heat capacity as the water and a constant input of heat. Conservation of energy tells us the rate at which the temperature of the box increases must be proportional to the energy coming in (and inversely proportional to the heat capacity of the water i.e. it takes longer to heat more water). In the real world the water will heat at different rates, there will be heat loses from the top of the water and from the sides of the beaker and the heating source won&rsquo;t be perfectly constant, but still our approximation will be able to provide valuable information about how fast the water heats up.</p>
            <p><img src="/assets/img/content/03.png" style="max-width: 100%;"></p>
            <p>We could improve our final model, by assuming that our box can also loose heat to the surroundings. Let&rsquo;s assume that the rate at which the box loses heat is proportional to the difference between the temperature of the box (T) and the temperature of the surrounding air (T<sub>A</sub>) i.e. the hotter the box gets the more heat it loses.</p>
            <p><img src="/assets/img/content/04.png" style="max-width: 100%;"></p>
            <p>This last type of model in referred to as a box model. The box in this case represents the water. But we simplify the situation and assume that the water is a homogenous box with a single temperature and heat capacity. Carbonator is also a box model that works in a similar way to this example.</p>
          </mat-expansion-panel>
        </mat-accordion>

        <h2>What is a climate model?</h2>
        <p>A climate model is a simulation of the climate system: the atmosphere, ocean, land surface and cryosphere (ice areas), run on a computer that allows you to tell how important climate variables like temperature, sea level or rainfall change over time at different locations.</p>
        <p>Everyone has heard of weather forecast models. Climate models are very similar but, while weather forecast models are used to predict how the atmosphere will change over the timescale of a few days, climate models tell us how the climate system (the atmosphere, ocean, land surface and cryosphere (ice areas)) are likely to change over decades or centuries. Climate and weather models are usually run on powerful computers; they generate simulations of important climate variables like temperature, sea level or rainfall change over time at different locations.</p>
        <p>State-of-the-art climate models (there are dozens of them built by different research centres around the world) are made up of thousands of lines of computer code. They require hundreds of people-years to build and take weeks or months to simulate a few decades of climate system evolution on powerful supercomputers (equivalent to 100s or 1000s of personal computers).</p>
        <p>Here are some YouTube links to some climate model simulations:</p>
        <p><a href="https://www.youtube.com/watch?v=aX9nHyMP4L0" target="_blank">NOAA SOS: GFDL Global Sea Surface Temperature Model</a></p>
        <p><a href="https://www.youtube.com/watch?v=C3yQUaU6fXE" target="_blank">NOAA Research: Improving the global weather forecast model</a></p>
        <p><a href="https://www.youtube.com/watch?v=g3mt30cu8l4" target="_blank">Stop And Think: NASA's Perpetual Ocean, Animation of Surface Ocean Currents</a></p>
      </ng-template>
    </mat-tab>

    <mat-tab label="The models">
      <ng-template matTabContent>

        <h2>Carbon Cycle Model</h2>
        <p>Probably the most complex part of Carbonator is the carbon cycle model. The carbon cycle model takes the CO2 emissions (one of the model inputs) and calculates the extra energy entering the climate system due to CO2 and the enhanced greenhouse effect.</p>
        <p>CO2 is the most important greenhouse gas that is affected by humans. Increases in atmospheric CO2 (measured in parts per million by volume, ppm) since pre-industrial times, is primarily from the burning of fossil fuels and from deforestation. CO2 emitted by human activity (expressed in GtC/yr). It accumulates in the atmosphere but is also removed from the atmosphere by plants and dissolved in ocean water.</p>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header color="primary">
              I'm ready to learn more
            </mat-expansion-panel-header>
            <p>The energy balance model used by Carbonator is split into two boxes that represent the energy stored in the surface climate and the deep ocean. The carbon cycle model is comprised of 5 boxes, representing the carbon stored in the atmosphere (as CO2), the upper ocean, the deep ocean, vegetation and soil.</p>
            <p><img src="/assets/img/content/15.png" style="max-width: 100%;"></p>
            <p>Carbon dioxide emissions (E<sup>co2</sup>) enters the atmosphere, increasing the total amount of atmospheric carbon (C<sup>at</sup>). This carbon leaves the atmosphere by dissolving into the upper ocean (C<sup>up</sup>) and being taken up by plants (N) by photosynthesis.</p>
            <p>The rate of transfer of carbon into the ocean is proportional to the difference between atmospheric and oceanic CO<sub>2</sub> concentration. This rate also depends on the acidity of the ocean, that changes depending on the amount of stored carbon. Carbon can leave the upper ocean by mixing into the deep ocean.</p>
            <p>The uptake of carbon by plants via photosynthesis depends on the atmospheric CO<sub>2</sub> concentration. The carbon in plants turns into soil carbon over long timescales as vegetation decays. Some of the carbon in the soil eventually gets back into the atmosphere via its breakdown by bacteria.</p>
            <p>These interactions are written down mathematically below:</p>
            <p><img src="/assets/img/content/16.png" style="max-width: 100%;"></p>
            <p>where C<sup>at</sup>, C<sup>up</sup>, C<sup>lo</sup>, N and S are the inventories of carbon dioxide (GtC) in the atmosphere, upper ocean and deep ocean, terrestrial vegetation and soil, respectively, P is net primary production by terrestrial plants (GtC/yr) and E is the human emissions of CO<sub>2</sub> (GtC/yr) See table for definition of constants.</p>
            <p>If we specify emissions of CO<sub>2</sub>, these equations can tell us how the atmospheric concentration of CO<sub>2</sub> changes over time. CO<sub>2</sub> is a greenhouse gas which acts to trap heat emitted from the surface of the planet. More CO<sub>2</sub> means that a greater amount of heat is trapped and the more energy is retained by the surface climate. This can be expressed mathematically as:</p>
            <p><img src="/assets/img/content/17.png" style="max-width: 100%;"></p>
            <p>Where Co<sup>CO2</sup> is the natural atmospheric concentration before humans started emitting CO<sub>2</sub> into the atmosphere.</p>
            <p>This relationship is logarithmic. This means that CO<sub>2</sub> traps less heat as CO<sub>2</sub> concentrations increase.</p>
            <h3>References</h3>
            <ul>
              <li>Glotter, Michael J., Raymond T. Pierrehumbert, Joshua W. Elliott, Nathan J. Matteson, and Elisabeth J. Moyer. &ldquo;A Simple Carbon Cycle Representation for Economic and Policy Analyses.&rdquo; Climatic Change 126, no. 3&ndash;4 (September 8, 2014): 319&ndash;35. <a href="https://doi.org/10.1007/s10584-014-1224-y">https://doi.org/10.1007/s10584-014-1224-y</a>.</li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>

        <h2>Methane Model</h2>
        <p>CO<sub>2</sub> is a long lived greenhouse gas that takes hundreds of years to be removed from the atmosphere. As a result CO<sub>2</sub> emitted today will still have an effect on the climate system hundreds of years from now (see CO<sub>2</sub> pulse scenario). Other greenhouse gases remain in the atmosphere for far shorter periods of time. The second most important greenhouse gases related to human activities is methane. Methane emissions are primarily related to waste management, changes in agriculture and the production of fossil fuels. The main way methane is removed from the atmosphere is through oxidation. Methane will typically last about 10 years in the atmosphere, as a result if we stopped producing methane today it would return to background concentrations in a few decades (see CH<sub>4</sub> pulse scenario).</p>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header color="primary">
              I'm ready to learn more
            </mat-expansion-panel-header>
            <p>Methane is modelled using a single box that represents the atmospheric store of methane. Methane emissions (E<sup>CH4</sup>) increase the methane concentration (C<sup>CH4</sup>) and the concentration decreases exponentially due to oxidation (in fact the rate of decay (&tau;<sup>CH4</sup>) is not exactly exponential as it depends on the amount of methane in the atmosphere). The equations describing methane concentration in carbonator is:</p>
            <p><img src="/assets/img/content/18.png" style="max-width: 100%;"></p>
            <p>If we specify emissions of CH<sub>4</sub>, these equations can tell us how CH4 concentrations change in the atmosphere over time. CH<sub>4 </sub>is a greenhouse gas which acts to trap heat emitted from the surface of the planet. More CH<sub>4 </sub>means that a greater amount of heat is trapped and the more energy is retained by the surface climate. This can be expressed mathematically as:</p>
            <p><img src="/assets/img/content/19.png" style="max-width: 100%;"></p>
            <p>Where Co<sup>CH4</sup> is the natural atmospheric concentration before humans started emitting CH4 into the atmosphere.</p>
            <p>As with CO<sub>2</sub>, this relationship is logarithmic. This means that CH<sub>4 </sub>has a diminishing effect on the additional energy as CH<sub>4 </sub>concentrations increase.</p>
            <h3>References</h3>
            <ul>
              <li>Boucher, Olivier, Pierre Friedlingstein, Bill Collins, and Keith P. Shine. &ldquo;The Indirect Global Warming Potential and Global Temperature Change Potential Due to Methane Oxidation.&rdquo; Environmental Research Letters 4, no. 4 (October 1, 2009): 044007. <a href="https://doi.org/10.1088/1748-9326/4/4/044007">https://doi.org/10.1088/1748-9326/4/4/044007</a>.</li>
            </ul>
          </mat-expansion-panel>
        </mat-accordion>

        <h2>Volcanic Aerosol Model</h2>
        <p>Volcanoes inject large quantities of particulate matter (aerosols) high into the atmosphere (the stratosphere). These fall out of the atmosphere over the course of a few years. These particles are reflective, reflecting away solar energy. As a result, they have a cooling effect.</p>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header color="primary">
              I'm ready to learn more
            </mat-expansion-panel-header>
            <p>The concentration of volcanic aerosols increases with volcanic emissions and decreases exponentially with a decay timescale of 2-3 years.</p>
            <p><img src="/assets/img/content/20.png" style="max-width: 100%;"></p>
            <p>E<sub>volcanic</sub>: Energy change related to volcanic aerosols</p>
            <p>OT<sup>volc</sup>: Optical thickness of due to volcanic aerosols</p>
            <p>E<sup>volc</sup>: Emission of volcanic aerosols</p>
            <p>: decay timescale of volcanic aerosols in the atmosphere</p>
            <p>c<sup>volc</sup>: constant</p>
          </mat-expansion-panel>
        </mat-accordion>


        <h2>Human Aerosol Model</h2>
        <p>Burning of fossil fuels and deforestation releases particulate matter (human aerosols) into the lower atmosphere. These particles are washed out of the atmosphere on the timescale of a few days, primarily by rainfall. Like volcanic aerosols, human aerosols reflect way solar energy and so have a cooling effect.</p>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header color="primary">
              I'm ready to learn more
            </mat-expansion-panel-header>
            <p>Because the removal of human aerosols from the atmosphere is so fast, the quantity of human aerosols in the atmosphere is simply proportional to the emission rate of aerosols (i.e. if you increase aerosol emissions, atmospheric concentrations increase; if you stop emissions, atmospheric concentrations will drop almost instantly to zero.</p>
            <p><img src="/assets/img/content/21.png" style="max-width: 100%;"></p>
            <p>E<sub>aerosol</sub>: Energy change due to human aerosols</p>
            <p>E<sup>SO2</sup>: Emission of human aerosols (sulphates, SO2)</p>
            <p>c<sup>SO2</sup>: constant</p>
          </mat-expansion-panel>
        </mat-accordion>

        <h2>Sea-level Model</h2>
        <p>The primary causes of sea level rise are the thermal expansion of water (the volume of water increases if temperature increases) and the melting of land ice (primarily the ice sheets on Antarctica and Greenland and glaciers around the world)</p>

        <h2>Solving the Equations</h2>
        <p>To use the model, your computer needs to solve the various equations that make up the Carbonator climate model. To demonstrate how this works, click below.</p>

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header color="primary">
              I'm ready to learn more
            </mat-expansion-panel-header>
            <h2>Solving the equations</h2>
            <p>To use the model, your computer needs to solve the various equations that make up the Carbonator climate model. To demonstrate how this works, let&rsquo;s use a simpler model. A single box model of the climate system. In this case, we are going to ignore the effect of the deep ocean (i.e. we assume that no heat is transferred from the upper to the lower ocean). Also instead of having 6 inputs, our input in going to be the total incoming energy (E<sub>in</sub>), so that we don&rsquo;t need to worry about the CO<sub>2</sub>, methane and other sub-models. Mathematically or model can be written:</p>
            <p><img src="/assets/img/content/22.png" style="max-width: 100%;"></p>
            <p>This says, the change in the energy content in our box (which represents the climate system) per second equals the energy coming in per second (the model input) minus the energy emitted out to space per second (which depends on the surface temperature). C and a are constants.</p>
            <p>Using this equation, if we know E<sub>in</sub>, we want to be able calculate how the surface temperature changes in time. This means that we need to integrate this equation to find T at different times.</p>
            <p>If E<sub>in</sub> could be described as a simple mathematical function we could probably integrate the equation analytically.</p>
            <p>For example if E<sub>in</sub> were a constant (i.e. incoming energy stays the over time), then:</p>
            <p><img src="/assets/img/content/23.png" style="max-width: 100%;"></p>
            <p>We also need to know the temperature at the start of our simulation T(0). For all Carbonator simulations we calculate temperature relative to the start of the simulation, so:</p>
            <p>T(0)=0</p>
            <p>Substituting this into equation:</p>
            <p><img src="/assets/img/content/24.png" style="max-width: 100%;"></p>
            <p>And substituting back for c1</p>
            <p><img src="/assets/img/content/25.png" style="max-width: 100%;"></p>
            <p>As an example, if we use the carbonator values: a=1 W/m<sup>2</sup>/K, C=6 W yr/m<sup>2</sup>/K</p>
            <p>If there is a sudden jump in the energy coming in (e.g. the sun gets a little bit stronger) E<sub>in</sub>= 1W/m<sup>2</sup>. Then the temperature response will be:</p>
            <p><img src="/assets/img/content/26.png" style="max-width: 100%;"></p>
            <p>However, Ein may change with time i.e.</p>
            <p><img src="/assets/img/content/27.png" style="max-width: 100%;"></p>
            <p>For example, imagine that over time the sun gets stronger, increasing the incoming energy, but during this period there is a volcano that causes a decrease in the incoming energy (through reflection) for a short period:</p>
            <p><img src="/assets/img/content/28.png" style="max-width: 100%;"></p>
            <p>Now we cant integrate this in the normal way. Instead we do what&rsquo;s called a numerical integration. This only provides an approximate answer, but if we do it right then the approximation can be as accurate as we want it to be. So how does this work.</p>
            <p>Let&rsquo;s start with dT/dt, what does this mean? It&rsquo;s the gradient in T with respect to time. Let&rsquo;s look at this on a graph of temperature versus time:</p>
            <p><img src="/assets/img/content/29.png" style="max-width: 100%;"></p>
            <p>The gradient dT/dt at time t is the tangent to the line. How do we calculate the value of the gradient? We can get an approximate answer by calculating</p>
            <p><img src="/assets/img/content/30.png" style="max-width: 100%;"></p>
            <p>To make this approximation better you just need to make smaller. In fact if I shrink to zero then, the answer is exact (this is the basis of calculus).</p>
            <p>OK, let&rsquo;s stick with our approximation</p>
            <p><img src="/assets/img/content/33.png" style="max-width: 100%;"></p>
            <p>Let&rsquo;s substitute this into our model equation:</p>
            <p><img src="/assets/img/content/34.png" style="max-width: 100%;"></p>
            <p>A little rearranging and we get</p>
            <p><img src="/assets/img/content/35.png" style="max-width: 100%;"></p>
            <p>What does this equation say? Let&rsquo;s image t is the time now. The equation says if we know what the temperature is now and how much energy is entering the climate system now , we can estimate what the temperature will be a little way in the future</p>
            <p>Using our estimate for the temperature a little way into the future we can use the same equation to estimate the temperature a little further in the future By using this equation multiple times we can estimate the temperature progressively further into the future. If the (time) steps that we use to make these calculations () are not too large, our answer can be quite accurate.</p>
            <p>We can now use a computer code to do this calculation multiple times. In fact we can even run this model in an <a href="/assets/pdfs/excel_model.xlsx" target="_blank">excel spreadsheet</a>. Check this out to see how temperature changes in response to the E<sub>in</sub> shown above; or modify E<sub>in</sub> to create your own scenario.</p>
          </mat-expansion-panel>
        </mat-accordion>

      </ng-template>
    </mat-tab>

    <mat-tab label="Terminology">
      <ng-template matTabContent>
        <div class="mat-typography">
          <ul>
            <li><strong>Radiative forcing</strong>&nbsp;- the change in energy entering the climate system resulting from a change in greenhouse gas concentration, aerosol concentration or changes in solar radiation. Measured in Jules per second per square meter (or W/m<sup>2</sup>).</li>
            <li><strong>W/m<sup>2</sup></strong>: Units for energy flux, number of joules of energy hitting 1 meter square every second. E.g. if all the energy from a 10W light bulb were focused onto a piece of ground 1m x 1m the energy flux would be 10W/m<sup>2</sup>. On average the earth receives about 340W/m<sup>2</sup> from the sun.</li>
            <li><strong>PgC/yr</strong> &ndash; Petagrams of Carbon per year. One Pg =10<sup>15</sup> grams or one billion metric tonnes.</li>
            <li><strong>Greenhouse gas:</strong> A type of gas that allows the passage of sunlight (shortwave radiation) but absorbs heat energy (longwave radiation). The two most important greenhouse gases controlling climate change are Carbon Dioxide, and methane. Others include nitrous oxide and ozone. While water vapour is also a very important greenhouse gas, humans can&rsquo;t directly affect its concentration.</li>
            <li><strong>Geoengineering</strong>: Technological solution to avoid the effects of global warming. One proposed scheme is Solar Radiation Management (SRM) whereby the amount of solar energy reaching the planet is reduced. This may be done for example by continuously pumping aerosols into the upper atmosphere (the particles reflect away incoming solar energy). Another possible option would be to place orbiting sun shades around the planet to block some of the suns energy.</li>
            <li><strong>Forcing</strong>: any factor that effects global temperatures and the climate system in general. In the model we have control over the following forcings:&nbsp;</li>
            <ul>
              <li><strong>Carbon Dioxide CO<sub>2</sub></strong>: the most important greenhouse gas, primarily produced by the burning of fossil fuels and to a lesser extent deforestation. Long lifetime in the atmosphere ~100years?</li>
              <li><strong>Methane CH<sub>4</sub></strong>: an important greenhouse gas produced by agricultural processes and waste disposal. Short lifetime in the atmosphere ~20years? Aerosols: particulate matter produced by the burning of fossil fuel, forest fires, volcanoes. Particles reflect away incoming solar energy (i.e. has a cooling effect on the planet). Very short lifetime in the atmosphere ~1yr.</li>
              <li><strong>Volcanic aerosols</strong>: produced during large volcanic eruptions.</li>
              <li><strong>Solar radiation</strong>: energy coming from the sun (also termed shortwave radiation).</li>
              <li><strong>Albedo</strong>: the reflectivity of the planet (0 &ndash; all incoming solar energy is absorbed; 1- all incoming solar energy is reflected back to space). Average albedo for the earth is about 0.3.</li>
            </ul>
            <li><strong>Climate system:</strong> The thin sliver at the surface of the earth made up of the atmosphere, the ocean, the cryosphere (ice sheets and glaciers) and the land surface.</li>
            <li><strong>Greenhouse effect</strong>: energy from the sun (shortwave radiation) warms the earth surface. The warm earth radiates heat energy (longwave radiation) outwards. Greenhouse gasses absorb much of this outgoing heat and re-radiates it in all directions (both upwards and downwards). The downwards directed energy represents an additional source of incoming heat energy that also warms the surface. This additional warming is the greenhouse effect. Adding additional greenhouse gases to the atmosphere will increase the greenhouse effect.</li>
            <li><strong>Long wave radiation</strong>: also called infrared radiation or heat energy. This is the type of energy radiated by the earth&rsquo;s surface and the atmosphere. Long wave radiation is absorbed by greenhouse gases.</li>
            <li><strong>Shortwave radiation</strong>: also called solar radiation (largely visible and ultraviolet light). This is the type of energy radiated by the sun. Shortwave radiation is not absorbed by greenhouse gases.</li>
            <li><strong>Feedback</strong>: if a forcing causes a warming of the earth&rsquo;s surface, feedback processes can act to amplify or suppress the initial warming. Many different positive and negative feedback processes operate in the climate system. If the atmosphere warms it absorbs more water vapour from the ocean. But water vapour is a greenhouse gas. So more of it increases the greenhouse effect causing additional warming: the positive &lsquo;water vapour&rsquo; feedback. If a forcing acts to warm the earth&rsquo;s surface, the surface will radiate more heat energy away ultimately stopping the warming: the negative &lsquo;blackbody&rsquo; feedback.</li>
          </ul>
        </div>
      </ng-template>
    </mat-tab>

  </mat-tab-group>

</div>
