$base-spacing-lists: true !default;

// ==============================
// Remove Margin & Padding BOOM
// ==============================
div,
dl,
dt,
dd,
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

@if ($base-spacing-lists) {
  ol,
  ul {
    list-style: none;
  }
}
