<div class="Page">

  <h1 class="Page__title">Frequently Asked Questions</h1>

  <mat-accordion>

    <mat-expansion-panel>
      <mat-expansion-panel-header color="primary">
        How can we possibly predict the future?
      </mat-expansion-panel-header>
      <p>How the climate changes in the future depends on how much energy remains trapped in the atmosphere: trap more heat and the planet will warm, trap less heat and the planet will cool. One of the main factors that determines how much heat is trapped is the CO2 concentration (the most important of many greenhouse gases). If CO2 concentration increases then more heat is trapped and temperatures will rise (the greenhouse effect). So by estimating how CO2 concentrations will change in the future we can make an educated guess about how the climate will look in the future (in fact we make lots of different CO2 estimates based on various different assumptions: climate scenarios).</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        What is Carbonator?
      </mat-expansion-panel-header>
      <p>Carbonator is a simple climate model. Unlike a full climate model that can tell us how climate variables evolve at different locations Carbonator can only tell us how a subset of variables change on a global scale (e.g. globally averaged temperature). Carbonator uses only 20-30 lines of computer code and takes a few seconds to simulate a few decades of climate system evolution on your computer.</p>
      <p>Carbonator is based on the same laws of physics that underpin state-of-the-art climate models (in particular the conservation of energy) and for a limited number of variables will produce very similar results to those models. As such, it is a powerful tool that can be used to explore how the climate system is affected by different factors (like CO<sub>2</sub> emissions, volcanoes of changes in the power output of the sun) how our decisions are likely to affect the climate system in the future.</p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        What is a climate model?
      </mat-expansion-panel-header>
      <p>A climate model is a simulation of the climate system: the atmosphere, ocean, land surface and cryosphere (ice areas), run on a computer. It allows you to tell how important climate variables like temperature, sea level or rainfall change over time at different locations.</p>
      <p>Everyone has heard of weather forecast models. Climate models are very similar but, while weather forecast models are used to predict how the atmosphere will change over the timescale of a few days, climate models tell us how the climate system (the atmosphere, ocean, land surface and cryosphere (ice areas)) are likely to change over decades or centuries. Climate and weather models are usually run on powerful computers; they generate simulations of important climate variables like temperature, sea level or rainfall change over time at different locations.</p>
      <p>State-of-the-art climate models (there are dozens of them built by different research centres around the world) are made up of thousands of lines of computer code. They require hundreds of people-years to build and take weeks or months to simulate a few decades of climate system evolution on powerful supercomputers (equivalent to 100s or 1000s of personal computers).</p>
      <p>Here are some YouTube links to some climate model output:</p>
      <p><a href="https://www.youtube.com/watch?v=aX9nHyMP4L0" target="_blank">NOAA SOS: GFDL Global Sea Surface Temperature Model</a></p>
      <p><a href="https://www.youtube.com/watch?v=C3yQUaU6fXE" target="_blank">NOAA Research: Improving the global weather forecast model</a></p>
      <p><a href="https://www.youtube.com/watch?v=g3mt30cu8l4" target="_blank">Stop And Think: NASA's Perpetual Ocean, Animation of Surface Ocean Currents</a></p>
    </mat-expansion-panel>

  </mat-accordion>

</div>
