<mat-toolbar class="Mandatories">
  <mat-toolbar-row>

    <div class="Mandatories__thanks">
      <span class="Mandatories__text">Our thanks to:</span>
      <a class="Mandatories__link" href="https://www.unsw.edu.au/" target="_blank">
        <img class="Mandatories__img" src="/assets/img/logo_unsw.png" alt="University of New South Wales">
      </a>
      <a class="Mandatories__link" href="http://www.ccrc.unsw.edu.au/" target="_blank">
        <img class="Mandatories__img" src="/assets/img/logo_ccrc.png" alt="Climate Change Research Centre">
      </a>
      <a class="Mandatories__link" href="https://www.climatescience.org.au/" target="_blank">
        <img class="Mandatories__img" src="/assets/img/logo_arccss.png" alt="Australian Research Council's Centre of Excellence for Climate System Science">
      </a>
    </div>

    <div class="Mandatories__notes">
      <a class="Mandatories__link" href="https://creativecommons.org/licenses/by-nc-sa/2.0/au/" target="_blank">
        <img class="Mandatories__img" src="/assets/img/logo_cc_byncsa.png" alt="Creative Commons: by-nc-sa">
      </a>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
