<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div class="container">
    <div class="row">
        <!-- Replace 'image-src' with the appropriate image source -->
        <div class="col-md-4">
            <a href="/alex_ccrc">
                <img src="image-src" alt="Alex Website" class="img-thumbnail">
                <p>Alex Website</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="/climate-model-forum">
                <img src="{{ url_for('static', filename='images/climate_forum_button.jpg') }}" alt="Climate Model Forum" class="img-thumbnail">

                <!-- <img src="images/climate_forum_button.jpg" alt="Climate Model Forum" class="img-thumbnail"> -->
                <!-- <p>Climate Model Forum</p> -->
            </a>
        </div>
        <div class="col-md-4">
            <a href="/blog">
                <img src="image-src" alt="Blog" class="img-thumbnail">
                <p>Blog</p>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a href="http://alexsengupta.pythonanywhere.com">
                <img src="image-src" alt="Teaching Apps" class="img-thumbnail">
                <p>Teaching Apps</p>
            </a>
        </div>
        <div class="col-md-4">
            <a href="http://www.carbonator.org">
                <!-- <img src="images/carbonator_button.jpg" alt="Carbonator" class="img-thumbnail"> -->
                <!-- <p>Carbonator</p> -->
                <img src="{{ url_for('static', filename='images/carbonator_button.jpg') }}" alt="Carbonator" class="img-thumbnail">

            </a>
        </div>
        <div class="col-md-4">
            <a href="/ocean_extremes">
                <img src="image-src" alt="Ocean Extremes" class="img-thumbnail">
                <p>Ocean Extremes</p>
            </a>
        </div>
    </div>
</div>

</body>
</html>
