<div class="Page">

  <h1 class="Page__title">Carbonator in Schools</h1>

  <mat-tab-group>

    <mat-tab label="Get Started">
      <ng-template matTabContent>

        <h3>Carbonator can be used in a schools for inquiry based, blended or independent learning.</h3>
        <p>Science inquiry involves identifying and posing questions. Carbonator is a useful tool to practice constructing questions and hypotheses, and proposing possible outcomes in order to plan, conduct and reflect on scientific investigations.</p>

        <ul>
          <li>Hypothesis testing and scenario based learning: run you scenarios to see how the planet reacts</li>
          <li>Learn what a model is and how simple models like carbonator can tell us important information about the real world</li>
          <li>Hands on learning around how and why greenhouse gases, aerosols and other factors affect the climate system</li>
          <li>Learn how to translate physical understanding to mathematics to computer code using our simplified Carbonator model in excel</li>
          <li>Export data to perform data analysis and model-observation comparisons</li>
        </ul>
        <p>We encourage teachers and students to use the model for their own inquiry questions.</p>
        <p>A good research question:</p>
        <ul>
          <li>has multiple possible answers and should not be easily answered from, say, a web search;</li>
          <li>is not biased in terminology or position;</li>
          <li>is simple and manageable;</li>
          <li>is focused and clear.</li>
        </ul>
        <p><strong>To get started try our lesson plans:</strong></p>
        <p><a href="/assets/pdfs/Worksheet_HowDoWeKnowItsUS.pdf" target="_blank">Worksheet: Influence of Human Activities on changes to climate</a></p>
        <p><a href="/assets/pdfs/Worksheet_IsThereACheapFix.pdf" target="_blank">Worksheet: Mitigation Strategies</a></p>
      </ng-template>
    </mat-tab>

    <mat-tab label="Online Resources">
      <ng-template matTabContent>
        <p>Australian Academy of Sciences - Science of Climate Change document:<br><a href="https://www.science.org.au/climatechange" target="_blank">https://www.science.org.au/climatechange</a></p>
        <p>How does the climate system work? UK Met office video:<br><a href="https://www.youtube.com/watch?v=lrPS2HiYVp8" target="_blank">https://www.youtube.com/watch?v=lrPS2HiYVp8</a></p>
        <p>Why do we have different seasons? California Academy of Sciences video:<br><a href="https://www.youtube.com/watch?v=WgHmqv_-UbQ" target="_blank">https://www.youtube.com/watch?v=WgHmqv_-UbQ</a></p>
        <p>Milankovitch cycles:<br><a href="https://www.youtube.com/watch?v=BIpi_r398ro" target="_blank">https://www.youtube.com/watch?v=BIpi_r398ro</a><br><a href="https://youtu.be/dqk3FhtduYc" target="_blank">https://youtu.be/dqk3FhtduYc</a></p>
        <p>What is albedo?<br><a href="https://youtu.be/uWZEvZ118DM" target="_blank">https://youtu.be/uWZEvZ118DM</a></p>
        <p>NASA video on dust and sea salt aerosols:<br><a href="https://youtu.be/oRsY_UviBPE" target="_blank">https://youtu.be/oRsY_UviBPE</a></p>
        <p>Scattering concepts:<br><a href="https://youtu.be/0b1fqodmZJ0" target="_blank">https://youtu.be/0b1fqodmZJ0</a></p>
        <p>Behaviour of greenhouse gases:<br><a href="https://youtu.be/sTvqIijqvTg" target="_blank">https://youtu.be/sTvqIijqvTg</a></p>
        <p>Greenhouse effect explainer: Gab Abramowitz, UNSW Sydney.<br><a href="https://www.youtube.com/watch?v=8MTDWbT0P90" target="_blank">https://www.youtube.com/watch?v=8MTDWbT0P90</a><br><a href="https://youtu.be/L2mxR7FBTk4" target="_blank">https://youtu.be/L2mxR7FBTk4</a></p>
        <p>Interactive video map showing "A Year in the Life of the World's CO2" shows the differences in northern hemisphere winter (Dec-Feb) vs northern hemisphere summer (June-Aug) and how the changing of the seasons affects atmospheric CO2 concentrations.<br><a href="https://co2.digitalcartography.org/" target="_blank">https://co2.digitalcartography.org/</a></p>
        <p>Up to date material on global carbon budget:<br><a href="http://www.globalcarbonproject.org/carbonbudget/index.htm" target="_blank">http://www.globalcarbonproject.org/carbonbudget/index.htm</a></p>
      </ng-template>
    </mat-tab>

  </mat-tab-group>

</div>
